{% extends 'flatpages/default.html' %}

{% load custom_filters %} <!-- не забываем заранее загружать наши фильтры! -->

{% block title %}
Articles
{% endblock title %}

<form method="GET">
    {{ filter.form }} <!-- Форму от фильтров за нас сделает django. А вот кнопку, увы придётся делать самому -->
    <input type="submit" value="Найти">
</form>

{% block content %}
    <h1>All news</h1>
    <h3>{{ time_now }}</h3>
    <h3> {{ value1|default_if_none:"Nothing" }} </h3>
    <hr>
    {% if articles %}
        <table>
            <tr>
                <td>
                    Title
                </td>
                <td>
                    Description
                </td>
                <td>
                    Date
                </td>
            </tr>
        {% for article in filter.qs %}
            <tr>
                <td>
                    {{ article.title|censor }} <!-- попробуем умножить название товара на строку а -->
                </td>
                <td>
                    {{ article.description|truncatewords:4|censor }}
                </td>
                <td>
                    {{ article.datetime }}
                </td>
            </tr>
        {% endfor %}
        </table>
{% if is_paginated %}

    {% if page_obj.has_previous %}
        <a href="?page=1">First</a>
        <a href="?page={{ page_obj.previous_page_number }}"><<<</a>
    {% endif %}

    {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
            <a>{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
            <a href="?page={{ num }}">{{ num }}</a>
        {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">>>></a>
        <a href="?page={{ page_obj.paginator.num_pages }}">Last</a>
    {% endif %}

{% endif %}
    {% else %}
        <h2>No more Articles!</h2>
    {% endif %}
{% endblock content %}